src/arduino/nodered.json
[
    {
        "id": "885b7fe5b7afaeb2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1b67b6d8b20274e5",
        "type": "serial in",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "serial": "aa604a3528e2ac0a",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "0e3fd7a5a77720d0"
            ]
        ]
    },
    {
        "id": "97ace192dbb5a179",
        "type": "ui_gauge",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "group": "96bc4ea6bcbdba52",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1020,
        "y": 100,
        "wires": []
    },
    {
        "id": "6e3c7686d510526a",
        "type": "function",
        "z": "885b7fe5b7afaeb2",
        "name": "json to string",
        "func": "var b = JSON.parse(JSON.stringify(msg.payload));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 160,
        "wires": [
            [
                "0031b774801f6ce1",
                "75b8dc8980ac0823",
                "67e79c24ee157bbe",
                "7721e7ab55978106",
                "c6a76a4023c6aac6"
            ]
        ]
    },
    {
        "id": "0e3fd7a5a77720d0",
        "type": "json",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "6e3c7686d510526a"
            ]
        ]
    },
    {
        "id": "0031b774801f6ce1",
        "type": "function",
        "z": "885b7fe5b7afaeb2",
        "name": "gethumi",
        "func": "msg.payload = msg.payload.SENSOR1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 160,
        "wires": [
            [
                "97ace192dbb5a179",
                "d0e0b966227bd080",
                "c33b3dec0314fe78"
            ]
        ]
    },
    {
        "id": "75b8dc8980ac0823",
        "type": "function",
        "z": "885b7fe5b7afaeb2",
        "name": "gettempC",
        "func": "msg.payload = msg.payload.SENSOR2\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 280,
        "wires": [
            [
                "8209a410cee7eca8",
                "031f7ed72f080d20",
                "01ee808ca2adaf35"
            ]
        ]
    },
    {
        "id": "67e79c24ee157bbe",
        "type": "function",
        "z": "885b7fe5b7afaeb2",
        "name": "gettempF",
        "func": "msg.payload = msg.payload.SENSOR3\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 460,
        "wires": [
            [
                "5697d7da96d6292a",
                "4a34b7158ed0fd9c",
                "499ac7d929b6136f"
            ]
        ]
    },
    {
        "id": "8209a410cee7eca8",
        "type": "ui_gauge",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "group": "96bc4ea6bcbdba52",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature C",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 980,
        "y": 280,
        "wires": []
    },
    {
        "id": "5697d7da96d6292a",
        "type": "ui_gauge",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "group": "96bc4ea6bcbdba52",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature F",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 980,
        "y": 460,
        "wires": []
    },
    {
        "id": "7721e7ab55978106",
        "type": "function",
        "z": "885b7fe5b7afaeb2",
        "name": "getnoiselevel",
        "func": "msg.payload = msg.payload.SENSOR4\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 640,
        "wires": [
            [
                "f7d9731b472edc36",
                "6e4f03fbf48f8586",
                "573e2582c55a2fd2"
            ]
        ]
    },
    {
        "id": "f7d9731b472edc36",
        "type": "ui_chart",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "group": "b3b1205b69002869",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Noise Level",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "a0182e4f9307f597",
        "type": "firebase modify",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "firebaseconfig": "",
        "childpath": "7020210e49a/values",
        "method": "push",
        "value": "Firebase.ServerValue.TIMESTAMP",
        "priority": "msg.priority",
        "x": 1470,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "2a34ca57444defa8",
        "type": "firebase modify",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "firebaseconfig": "",
        "childpath": "5637c74dfcf/values",
        "method": "push",
        "value": "Firebase.ServerValue.TIMESTAMP",
        "priority": "msg.priority",
        "x": 1460,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c0043023a9273f8c",
        "type": "firebase modify",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "firebaseconfig": "",
        "childpath": "37c74dfcf0e/values",
        "method": "push",
        "value": "Firebase.ServerValue.TIMESTAMP",
        "priority": "msg.priority",
        "x": 1460,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "07966dae0f1828d9",
        "type": "firebase.on",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "firebaseconfig": "",
        "childpath": "7c74dfcf0e6/values",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 330,
        "y": 1060,
        "wires": [
            [
                "7c7330c7346f7f38",
                "7adf16ebf37427e4"
            ]
        ]
    },
    {
        "id": "7c7330c7346f7f38",
        "type": "ui_gauge",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "group": "cb5c5a4cad9a0fd5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 710,
        "y": 1060,
        "wires": []
    },
    {
        "id": "7adf16ebf37427e4",
        "type": "serial out",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "serial": "aa604a3528e2ac0a",
        "x": 710,
        "y": 1140,
        "wires": []
    },
    {
        "id": "0354a010685e4e2d",
        "type": "firebase.on",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "firebaseconfig": "",
        "childpath": "c74dfcf0e6c/values",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 330,
        "y": 1220,
        "wires": [
            [
                "3bcd9a26bd822bf8",
                "925b321ea699c786"
            ]
        ]
    },
    {
        "id": "3bcd9a26bd822bf8",
        "type": "ui_gauge",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "group": "cb5c5a4cad9a0fd5",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 710,
        "y": 1220,
        "wires": []
    },
    {
        "id": "925b321ea699c786",
        "type": "serial out",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "serial": "aa604a3528e2ac0a",
        "x": 710,
        "y": 1300,
        "wires": []
    },
    {
        "id": "5137d04cba897353",
        "type": "firebase modify",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "firebaseconfig": "",
        "childpath": "637c74dfcf0/values",
        "method": "push",
        "value": "Firebase.ServerValue.TIMESTAMP",
        "priority": "msg.priority",
        "x": 1460,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "d0e0b966227bd080",
        "type": "timestamp",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "x": 1070,
        "y": 40,
        "wires": [
            [
                "5137d04cba897353"
            ]
        ]
    },
    {
        "id": "c33b3dec0314fe78",
        "type": "firebase modify",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "firebaseconfig": "",
        "childpath": "637c74dfcf0/values",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1280,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "031f7ed72f080d20",
        "type": "timestamp",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "x": 1070,
        "y": 220,
        "wires": [
            [
                "a0182e4f9307f597"
            ]
        ]
    },
    {
        "id": "01ee808ca2adaf35",
        "type": "firebase modify",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "firebaseconfig": "",
        "childpath": "7020210e49a/values",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1290,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "499ac7d929b6136f",
        "type": "firebase modify",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "firebaseconfig": "",
        "childpath": "5637c74dfcf/values",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1280,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "4a34b7158ed0fd9c",
        "type": "timestamp",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "x": 1070,
        "y": 420,
        "wires": [
            [
                "2a34ca57444defa8"
            ]
        ]
    },
    {
        "id": "6e4f03fbf48f8586",
        "type": "timestamp",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "x": 1070,
        "y": 600,
        "wires": [
            [
                "c0043023a9273f8c"
            ]
        ]
    },
    {
        "id": "573e2582c55a2fd2",
        "type": "firebase modify",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "firebaseconfig": "",
        "childpath": "37c74dfcf0e/values",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1280,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "c6a76a4023c6aac6",
        "type": "function",
        "z": "885b7fe5b7afaeb2",
        "name": "getwaterlevel",
        "func": "msg.payload = msg.payload.SENSOR5\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 820,
        "wires": [
            [
                "35dfc41c7d451222",
                "85b13eb64a15a6f3",
                "7be68774b31ece7a"
            ]
        ]
    },
    {
        "id": "35dfc41c7d451222",
        "type": "ui_gauge",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "group": "9fdd229ea9e61c2b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 820,
        "wires": []
    },
    {
        "id": "85b13eb64a15a6f3",
        "type": "timestamp",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "x": 930,
        "y": 760,
        "wires": [
            [
                "4574788ae2659a60"
            ]
        ]
    },
    {
        "id": "4574788ae2659a60",
        "type": "firebase modify",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "firebaseconfig": "",
        "childpath": "WaterLevelSensor",
        "method": "push",
        "value": "Firebase.ServerValue.TIMESTAMP",
        "priority": "msg.priority",
        "x": 1380,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "7be68774b31ece7a",
        "type": "firebase modify",
        "z": "885b7fe5b7afaeb2",
        "name": "",
        "firebaseconfig": "",
        "childpath": "WaterLevelSensor",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1360,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "aa604a3528e2ac0a",
        "type": "serial-port",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "96bc4ea6bcbdba52",
        "type": "ui_group",
        "name": "DHT11",
        "tab": "bb2b2a0610a698d1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b3b1205b69002869",
        "type": "ui_group",
        "name": "Sonic",
        "tab": "bb2b2a0610a698d1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cb5c5a4cad9a0fd5",
        "type": "ui_group",
        "name": "LED1",
        "tab": "bb2b2a0610a698d1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9fdd229ea9e61c2b",
        "type": "ui_group",
        "name": "Default",
        "tab": "bb2b2a0610a698d1",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bb2b2a0610a698d1",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
